<%= form_with(model: tour) do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
        <% tour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div>
    <% tour.photos.each do |photo| %>
      <%= hidden_field :tour, :photos, multiple: true, value: photo.identifier %>
    <% end %>
  </div>

  <div>
    <%= form.file_field :photos, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_area :date %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_area :duration %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_area :price %>
  </div>

  <div class="field">
    <%= form.label :meeting_details %>
    <%= form.text_area :meeting_details %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
