<%= simple_form_for tour do |form| %>

  <%= form.input :title %>
 
  <% tour.photos.each do |photo| %>
    <%= hidden_field :tour, :photos, multiple: true, value: photo.identifier %>
  <% end %>

  <%= form.file_field :photos, multiple: true %>
  <%= form.input :description %>
  <%= form.input :date, as: :date %>
  <%= form.input :duration %>
  <%= form.input :price %>
  <%= form.input :meeting_details %>

  <ul>
    <h2>Tour options</h2>
    <%= form.fields_for :tour_options do |tour_options_form| %>
      <li>
        <%= tour_options_form.input :language %>
        <%= tour_options_form.input :start_time_1 %>
        <%= tour_options_form.input :start_time_2 %>
        <%= tour_options_form.input :start_time_3 %>
        <%= tour_options_form.input :monday %>
        <%= tour_options_form.input :tuesday %>
        <%= tour_options_form.input :wednesday %>
        <%= tour_options_form.input :thursday %>
        <%= tour_options_form.input :friday %>
        <%= tour_options_form.input :saturday %>
        <%= tour_options_form.input :sunday %>
        <%= tour_options_form.input :group %>
        <%= tour_options_form.input :private %>
      </li>
    <% end %>
  </ul>
  <%= form.button :submit %>
<% end %>
