<h1>Tours</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Photos</th>
      <th>Description</th>
      <th>date</th>
      <th>duration</th>
      <th>price</th>
      <th>meeting_details</th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.title %></td>
        <td><%= image_tag(tour.photos.first.index.url) %></td>
        <td><%= tour.description %></td>
        <td><%= tour.date %></td>
        <td><%= tour.duration %></td>
        <td><%= tour.price %></td>
        <td><%= tour.meeting_details %></td>
        <td><%= link_to 'Show', tour %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
          <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= if user_signed_in? then link_to 'New Tour', new_tour_path end %>
