<p>
  <strong>Title:</strong>
  <%= @tour.title %>
</p>

<p>
  <% @tour.photos.each do |photo| %>
    <%= image_tag(photo.show.url) %>
  <% end %>
</p>

<p>
  <strong>Body:</strong>
  <%= @tour.body %>
</p>

<%= if user_signed_in? then link_to 'Edit', edit_tour_path(@tour) end %>
<%= link_to 'Back', tours_path %>
